body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#xsInput{
  display: none;
  font-family: 'Poppins';
}
@media only screen and (max-width: 599px) {
  #xsInput {
    display: block;
  }
}